/bin/
/.classpath

src/aufgabe01/desktop.ini

src/aufgabe02/desktop.ini

src/BernalHausuebung1/desktop.ini

src/BernalHausuebung2/aSchleifen/desktop.ini

src/BernalHausuebung2/bIFUnterprogramm/desktop.ini

src/BernalHausuebung2/desktop.ini

src/BernalHausuebung3/desktop.ini

src/BernalHausuebung4/desktop.ini

src/BernalHausuebung5/desktop.ini

src/dritteHausuebung/desktop.ini

src/ersteHausuebung/desktop.ini

src/firstPackage/desktop.ini

src/fünfteHausübung/desktop.ini

src/vierteHausübung/desktop.ini

src/zweiteHausübung/desktop.ini

*.ini
